@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;700&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    body {
        font-family: 'Readex Pro', sans-serif;
        @apply text-neutral-900 dark:text-neutral-50 dark:bg-neutral-900
    }

    h1 {
        @apply font-bold text-3xl xl:text-6xl
    }

    h2 {
        @apply font-bold text-2xl xl:text-4xl
    }

    h3 {
        @apply text-3xl font-medium
    }

    h4 {
        @apply font-medium text-lg
    }
}

@layer components {
    .link {
        @apply text-transparent bg-clip-text bg-neutral-900 dark:bg-neutral-50 ease-in-out duration-300
    }

    .link:hover {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600
    }

    .text-gradiant {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600
    }

    .jedi {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(219, 39, 119, 0.2) 90%, rgba(192, 132, 252, 0.3) 100%),
        url(/images/me-jedi.webp);
        background-size: cover;
    }

    .sith {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(219, 39, 119, 0.2) 90%, rgba(192, 132, 252, 0.3) 100%),
        url(/images/me-sith.webp);
        background-size: cover;
    }
}

@layer utilities {

}

::selection {
    @apply bg-pink-200
}

[data-aos=fade-grid] {
    transform: translateX(-250px);
    opacity: 0;
    transition-property: transform, opacity;
}

[data-aos=fade-grid]:nth-child(2n) {
    transform: translateX(250px);
    opacity: 0;
    transition-property: transform, opacity;
}

[data-aos=fade-grid].aos-animate {
    transform: translateX(0);
    opacity: 1;
}

[data-aos=fade-grid]:nth-child(2).aos-animate {
    transform: translateX(0);
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    [data-aos=fade-grid] {
        transform: translateY(250px);
        opacity: 0;
        transition-property: transform, opacity;
    }

    [data-aos=fade-grid]:nth-child(2n) {
        transform: translateY(250px);
        opacity: 0;
        transition-property: transform, opacity;
    }

    [data-aos=fade-grid].aos-animate {
        transform: translateY(0);
        opacity: 1;
    }

    [data-aos=fade-grid]:nth-child(2).aos-animate {
        transform: translateY(0);
        opacity: 1;
    }
}
