@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-weight: 700;
}

h3, h4 {
    font-weight: 500;
}
